

@import url('https://fonts.googleapis.com/css2?family=Kalnia+Glaze:wght@100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Playwrite+NG+Modern+Guides&display=swap');

@import "tailwindcss";

@theme{
   --color-primary: #2563EB;
   --color-secondary: #FBBF24;

}

*{
  margin: opx;
  padding: opx;
  box-sizing: border-box;
  font-family: outfit;



}
.font-playfair{
  font-family: playfair !important;
}
.img{
  margin-top: 0px;
}
h1{
  font-size: 40px;
  color: black;
  text-align: center;
}
.Booking{
  margin-top: 30px;
  border: 3px solid lightblue;
  color: black;
  
}
.text{
  text-align: center;
  font-size: 28px;
  color:blue;
  font-family: 'Times New Roman', Times, serif;
}
.cards{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-left:auto;
  margin-right: auto;
  width: 80%;
  height: 40%;
  gap: 20px;

}
.cards .card{
  width: 500px;
      height:200px;
      border: 2px solid purple;
      border-radius: 10px;
      padding: 10px;
      color: blue;
      text-align: center;
     font-size: 18px;
}
.card:hover{
  background-color: aqua;
}
